# Paste this whole file under /etc/systemd/system/autoshutdown.service

[Unit]
Description=Shutdown when there are no tasks left

[Service]
ExecStart=/usr/local/bin/autoshutdown

[Install]
WantedBy=default.target
